# Mercurial .hgignore file template by Abdullin.com
# For syntax see: http://linux.die.net/man/5/hgignore
# Source: http://bitbucket.org/abdullin/snippets/

# Visual Studio
glob:*.user
glob:*.suo
glob:*.cache
glob:_ReSharper.*/
relre:/obj/
relre:/bin/
relre:/Bin/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# Misc
glob:Thumbs.db
glob:*.bak
glob:*.log
relre:TestResults/
syntax: glob
*.cs.orig
*.config.orig
glob:*.orig
*.vsp
*.psess
PrecompiledWeb/*
Backup/*
UpgradeLog*.htm
bin/
obj/
*.suo
*.user

# Remainings from resolvings conflicts in Source Control
*.orig

# Visual Studio 2015 cache/options directory
.vs/

# Include DLLs if they're in the NuGet packages directory
!/packages/**
