<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="-- YOUR WEB SERVICE USER NAME --"/>
    <add key="password" value="-- YOUR PASSWORD --"/>
    <add key="businessname" value="-- SANDBOX BUSINESS NAME --"/>
    <add key="businessjurisdiction" value="-- SANDBOX BUSINESS JURISDICTION --"/>
    <add key="host" value=""/>
  </appSettings>
</configuration>